In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('carprice.csv')

In [3]:
df.shape

(892, 6)

In [4]:
df.sample(5)

,name,company,year,Price,kms_driven,fuel_type
247,Mahindra Scorpio S4,Mahindra,2015,"8,55,000","30,000 kms",Diesel
541,Maruti Suzuki Wagon R,Maruti,2009,"1,60,000","35,000 kms",Petrol
765,Maruti Suzuki Zen LXi BS III,Maruti,2006,"71,000","32,000 kms",Petrol
808,Commercial Maruti Suzuki Alto Lxi 800,Commercial,...,Ask For Price,NaN,NaN
810,Maruti Suzuki Alto vxi t,Maruti,cab,"95,000",NaN,NaN

# Cleaning Data

In [5]:
backup = df.copy()

In [6]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [7]:
df['year'].isnull().sum()

0

In [8]:
df = df[df['year'].str.isnumeric()]

In [9]:
df['year'] = df['year'].astype(int)

In [10]:
df.shape

(842, 6)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

**Price Columns Cleaning**

In [12]:

df['Price'].unique

<bound method Series.unique of 0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
886         3,00,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 842, dtype: object>

In [13]:
df = df[df['Price'] != 'Ask For Price' ]

In [14]:
df['Price'] = df['Price'].str.replace(',','')

In [15]:
df['Price'] = df['Price'].astype(int)

In [16]:
df['Price'].unique

<bound method Series.unique of 0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int64>

**kms_driven Columns Cleaning**

In [17]:
df['kms_driven'].isnull().sum()

0

In [18]:
df['kms_driven'].unique()

array(['45,000 kms', '40 kms', '28,000 kms', '36,000 kms', '41,000 kms',
       '25,000 kms', '24,530 kms', '60,000 kms', '30,000 kms',
       '32,000 kms', '48,660 kms', '4,000 kms', '16,934 kms',
       '43,000 kms', '35,550 kms', '39,522 kms', '39,000 kms',
       '55,000 kms', '72,000 kms', '15,975 kms', '70,000 kms',
       '23,452 kms', '35,522 kms', '48,508 kms', '15,487 kms',
       '82,000 kms', '20,000 kms', '68,000 kms', '38,000 kms',
       '27,000 kms', '33,000 kms', '46,000 kms', '16,000 kms',
       '47,000 kms', '35,000 kms', '30,874 kms', '15,000 kms',
       '29,685 kms', '1,30,000 kms', '19,000 kms', '54,000 kms',
       '13,000 kms', '38,200 kms', '22,000 kms', '50,000 kms',
       '13,500 kms', '3,600 kms', '45,863 kms', '60,500 kms',
       '12,500 kms', '18,000 kms', '13,349 kms', '29,000 kms',
       '44,000 kms', '42,000 kms', '14,000 kms', '49,000 kms',
       '36,200 kms', '51,000 kms', '1,04,000 kms', '33,333 kms',
       '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms', '24,330 kms',
       '65,480 kms', '2,00,000 kms', '59,000 kms', '99,000 kms',
       '2,800 kms', '21,000 kms', '11,000 kms', '66,000 kms', '3,000 kms',
       '7,000 kms', '38,500 kms', '37,200 kms', '43,200 kms',
       '24,800 kms', '45,872 kms', '40,000 kms', '11,400 kms',
       '97,200 kms', '52,000 kms', '31,000 kms', '1,75,430 kms',
       '37,000 kms', '65,000 kms', '3,350 kms', '75,000 kms',
       '62,000 kms', '73,000 kms', '2,200 kms', '54,870 kms',
       '34,580 kms', '97,000 kms', '60 kms', '80,200 kms', '3,200 kms',
       '0,000 kms', '5,000 kms', '588 kms', '71,200 kms', '1,75,400 kms',
       '9,300 kms', '56,758 kms', '10,000 kms', '56,450 kms',
       '56,000 kms', '32,700 kms', '9,000 kms', '73 kms', '1,60,000 kms',
       '58,559 kms', '57,000 kms', '1,70,000 kms', '80,000 kms',
       '6,821 kms', '23,000 kms', '34,000 kms', '1,800 kms',
       '4,00,000 kms', '48,000 kms', '90,000 kms', '12,000 kms',
       '69,900 kms', '1,66,000 kms', '122 kms', '0 kms', '36,469 kms',
       '7,800 kms', '24,695 kms', '15,141 kms', '59,910 kms',
       '1,00,000 kms', '4,500 kms', '1,29,000 kms', '300 kms',
       '1,31,000 kms', '1,11,111 kms', '59,466 kms', '25,500 kms',
       '44,005 kms', '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '53,000 kms', '35,500 kms', '22,134 kms',
       '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms', '8,000 kms',
       '55,800 kms', '56,400 kms', '72,160 kms', '11,500 kms',
       '1,33,000 kms', '2,000 kms', '88,000 kms', '65,422 kms',
       '1,17,000 kms', '1,50,000 kms', '10,750 kms', '6,800 kms',
       '9,800 kms', '57,923 kms', '30,201 kms', '6,200 kms', '37,518 kms',
       '24,652 kms', '383 kms', '95,000 kms', '3,528 kms', '52,500 kms',
       '47,900 kms', '52,800 kms', '1,95,000 kms', '48,008 kms',
       '48,247 kms', '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '1,37,495 kms',
       '91,200 kms', '1,46,000 kms', '1,00,800 kms', '2,100 kms',
       '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [19]:
df['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [20]:
df['kms_driven'] = df['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [21]:
df = df[df['kms_driven'].str.isnumeric()]

In [22]:
df['kms_driven'] = df['kms_driven'].astype(int)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

**fuel_type columns cleaning**

In [24]:
df = df[~df['fuel_type'].isna()]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

**name columns cleaning**

In [26]:
df['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [27]:
df['name'] = df['name'].str.split().str.slice(0,3).str.join(' ')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [29]:
df = df.reset_index(drop=True)

In [30]:
df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [31]:
df = df[df['Price'] < 8.500003e+06]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        815 non-null    object
 1   company     815 non-null    object
 2   year        815 non-null    int64
 3   Price       815 non-null    int64
 4   kms_driven  815 non-null    int64
 5   fuel_type   815 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [33]:
df.to_csv('Cleaned_data.csv')

# Model Training

In [34]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [35]:
x = df.drop('Price',axis=1)

In [36]:
y = df['Price']

In [37]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=43)

In [38]:
x_train.head()

                    name    company  year  kms_driven fuel_type
792  Hyundai Santro Xing    Hyundai  2004      137495    Petrol
325          Audi A4 2.0       Audi  2012       40000    Diesel
120      Chevrolet Spark  Chevrolet  2012       33600    Petrol
90          BMW 3 Series        BMW  2011       60500    Petrol
464  Maruti Suzuki Versa     Maruti  2004       50000    Petrol

In [39]:
ohe = OneHotEncoder()

ohe.fit(x[['name', 'company', 'fuel_type']])

OneHotEncoder()

In [40]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [41]:
columns_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name', 'company', 'fuel_type']),
                                       remainder='passthrough')

In [42]:
model = LinearRegression()

In [43]:
pipe = make_pipeline(columns_trans, model)

In [44]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [45]:
y_pred = pipe.predict(x_test)

In [46]:
y_pred

array([ 396286.33823916,  398743.20197288,  454653.78970927,
        223880.25051459,  249740.38907856,  273795.3432842 ,
        203480.51318644,  153360.71020307,  152299.53636564,
        476788.76599256,  492761.57164015,  388942.280567  ,
        247223.41102074,  187832.54081049,  521230.70847262,
        248783.68536494,  138044.40007769,  599351.43193387,
        352313.1789055 ,   99844.26557108,  316892.21145576,
        222378.77375767,  233856.11419817,  347475.80309524,
        621429.5279064 ,  257358.34030794,  205403.94688925,
        488940.85219844,  405949.02390639,  674974.76148076,
        111735.94446481,  501369.18523238,  255272.02839804,
        250063.96195709,  536068.96928821,  194026.94632103,
        222229.94478212,  398347.71354304,  492761.57164015,
        324438.50154864,  966402.08459193,  511878.70594572,
        585468.0485251 ,  210899.71803131,  289230.02468546,
        267345.34230123,  218022.5323272 ,  381699.71559296,
        141150.50193125,  619064.01762363,  184077.93978339,
        237406.85271204,  248964.00097733,  402852.26164944,
        -54664.77082883,  557835.13622566,  405967.01970587,
        363798.86182813,  279437.64400009,  337412.97007705,
        276283.63028973,  248291.85717556,  652344.01240667,
        353720.51772007,  121919.22437951,  255286.05744073,
        488169.25374656,  627164.50252292,  386653.10674897,
        547052.63418932,  220395.38115892,  240139.31641064,
        210137.49805131,  503098.96629155,  255458.43743753,
        314754.92522468,  149432.41204574, 1467193.47080087,
        658131.50999808,  527857.54094818, 1273597.91562161,
        241370.33552282,  217579.58070832,  409103.03761674,
        230331.47813685,  541621.80519691,  348230.36990298,
        -40846.48826728,  748157.14615978,  365874.21640567,
        391664.36529004,  701824.19023688,  267903.923883  ,
        439751.86005455,  930553.3176587 ,  354243.16114053,
        340844.59314598, 1273597.91562161,  245492.81998518,
        384771.37602066,  409933.08050435,  358308.96220259,
         92207.49580929,  101883.51201349,  377671.97485517,
         74508.27834237,  572574.36861043,  138180.14426146,
        300106.04006438,  351475.38562725,  572912.85089231,
        410154.3755202 ,  250256.73670894, 1470835.34503922,
        148359.50310771,  277478.70421223,  560172.99271134,
        434975.94051198,  343095.23332016, 1128571.26785126,
        111735.94446481,  740258.61331429,  220806.18186911,
        217501.2783421 ,  414465.10519969,  359099.24810647,
        498300.06800666,  151237.65934316,  402852.26164944,
        198415.66589639, 2199135.52480861,  553041.26556013,
        438005.026109  ,  226334.24781214,  466853.62280492,
        155540.92657349,  488236.16174783,  179636.33234795,
        699659.84386647,  272762.29706597,  549000.52428794,
        161683.75957055,  101620.91386406,  157255.11634027,
        626653.93568889, 1678047.60096496,  428236.49111432,
        541775.63228599,  155043.22764352,  387899.82533747,
        370408.12556797,  272055.95457437,  362875.26005401,
        594505.04239073,  541680.57569446,  236447.77546874,
        442521.96120884, 1140584.69095132, 1467193.47080087,
        284997.56242299,  463538.91542518,  206069.43846492,
        590013.29646961])

In [47]:
from sklearn.metrics import r2_score

In [48]:
r2 = r2_score(y_test,y_pred)

In [49]:
r2

0.6659932444752472

In [50]:
score = []

for i in range(1,100):
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=i)
    model = LinearRegression()
    pipe = make_pipeline(columns_trans, model)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    score.append(r2_score(y_test,y_pred))

In [54]:
score

[0.47859534625114053,
 0.6206184325887315,
 0.5370851059720391,
 0.8189003209843422,
 0.6634592678218548,
 0.627651080774843,
 0.6298500612485975,
 0.6721337147755825,
 0.569999290976279,
 0.648410356051369,
 0.6085830042105451,
 0.4570387283628752,
 0.6674701982444136,
 0.5667086409016293,
 0.710110955902248,
 0.48789129723115376,
 0.6657624958397428,
 0.6089284148932655,
 0.6397685755956675,
 0.6410709224098974,
 0.6210283939684125,
 0.7366931810218385,
 0.6403435054918312,
 0.5492294440786976,
 0.49865430736412675,
 0.6732835680238167,
 0.7035631613026931,
 0.7254576384148604,
 0.6010349558544669,
 0.6245053608697559,
 0.6290270877645332,
 0.7651654313017575,
 0.7853874888796626,
 0.5622385517206983,
 0.685024845194027,
 0.5779619998835577,
 0.6170146213581826,
 0.5393853480656206,
 0.7164312140567131,
 0.32666867715670367,
 0.6733782138107586,
 0.5731311949541246,
 0.6659932444752472,
 0.6604128224175608,
 0.6975409772585117,
 0.5258705780715188,
 0.5882064290521126,
 0.7540188120977028,
 0.6861734869122942,
 0.5038058588989355,
 0.5964725808936133,
 0.6325679093210963,
 0.6638066957559459,
 0.5797623627769186,
 0.6974693540090504,
 0.7171752768166924,
 0.7195081853284038,
 0.760859173432595,
 0.48428354013704156,
 0.5849349181102559,
 0.5244371253247728,
 0.4330340417620896,
 0.6189051514339482,
 0.607522089011671,
 0.6349243275736114,
 0.4810243158116734,
 0.6590615854542154,
 0.6214586085522245,
 0.743274946513606,
 0.6997074685617691,
 0.718579504415433,
 0.5796151530076887,
 0.7034350832805074,
 0.5518161471757719,
 0.5694855898282613,
 0.44927656745228084,
 0.6050835178219862,
 0.5738343223155049,
 0.6460411861883026,
 0.5886213603663246,
 0.5856527297265843,
 0.6765398800588244,
 0.744922939021712,
 0.6389826087094421,
 0.6358498527695688,
 0.6852016031039259,
 0.5373334373438552,
 0.6030204267549185,
 0.638377009894445,
 0.6809872042573941,
 0.5840677085925137,
 0.6883266712274796,
 0.4945068201935203,
 0.6331518312398363,
 0.6589982197584234,
 0.6383970274949671,
 0.685671676550484,
 0.6751357998207606,
 0.5924046045484042]

In [53]:
np.argmax(score)

3

In [51]:
score[np.argmax(score)]

0.8189003209843422

In [55]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=4)
model = LinearRegression()
pipe = make_pipeline(columns_trans, model)
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8189003209843422

In [56]:
import pickle

In [57]:
pickle.dump(pipe,open('model.pkl','wb'))